@import "src/styles";

.input {
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  font-size: 16px;

  &.error {
    border: 1px solid red;
  }
}

.error-message {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #ff4c4c;
}